<head>

      <!-- jQuery -->
      <script src="/masonry/bower_components/jquery/dist/jquery.min.js"></script>

      <!-- Bootstrap Core JavaScript -->
      <script src="/masonry/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

      <!-- Metis Menu Plugin JavaScript -->
      <script src="/masonry/bower_components/metisMenu/dist/metisMenu.min.js"></script>

      <!-- Custom Theme JavaScript -->
      <script src="/masonry/dist/js/sb-admin-2.js"></script>

      <!--masonry-->
      <script src="https://unpkg.com/masonry-layout@4.0/dist/masonry.pkgd.js"></script>
      <script src="https://unpkg.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>


      <!-- scroll to top -->
      <script type="text/javascript" src="http://static.tumblr.com/ikeq9mi/DfYl6o46t/scrolltotop.min.js"></script>
    <link rel="shortcut icon" href="masonry/pages/images/logo.png" />

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Painterly</title>

    <link href="/masonry/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/masonry/dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="/masonry/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>
<body>

    <div id="wrapper">

<!-- navigation (at the top) -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/dashboard"><img src="/masonry/pages/images/side_logo.png" height="25" width="50" alt="Painterly" style="float:left;"></a>
            </div>

            <ul class="nav navbar-top-links navbar-right">

              <!-- link to dashboard -->
              <li class="dropdown">
                  <a href="/dashboard" style="color:#80D5DC">
                      <i class="fa fa-home fa-lg" ></i>
                  </a>
              </li>

              <!-- link to make a post -->
              <li class="dropdown">
                  <a href="#popup1" style="color:#FFBF45">
                      <i class="fa fa-file fa-lg"></i>
                  </a>
              </li>
              <div id="popup1" class="overlay">
	              <div class="popup">
		                <h2>Make a New Post</h2>
		                  <a class="close" href="#">&times;</a>
		                    <div class="content">
                          <form method="post" action="newPost">
                            <div style = "float:left; width: 200px;">Upload a File: </div>
                              <input type="file" class="upload" name="photoUpload" disabled/><p></p>

                            <div style = "float:left; width: 200px;">Enter a Description: <br>(Or use this to create a post with just text)</div>
                              <textarea name="description" placeholder="Describe your work" height="100" width="100"></textarea><p>

                            <input type="submit" value="Submit your Post!" disabled>
                            I really wish this worked :(
                          </p>
                          </form>
                          {{#if success}}
                          <h4>Successfully created a post!</h4>
                          {{/if}}
		                    </div>
	              </div>
              </div>

              <!-- link to user's page -->
              <li class="dropdown">
                  <a href="dashboard/profile" style="color:#D2E49C">
                      <i class="fa fa-user fa-lg"></i>
                  </a>
              </li>

              <!-- messages - it won't work, but we can display what we wanted to happen-->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color:#F97B35">
                        <i class="fa fa-envelope fa-lg"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong>Kathy</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>Some Guy</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>Some Dude</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Read All Messages</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- link to settings/logout -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color:#8794CD">
                        <i class="fa fa-cogs fa-lg"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#">Settings</a>
                        </li>
                        <li><a href="/dashboard/logout">Logout</a>
                        </li>
                    </ul>
                  </li>
            </ul>

<!-- END navbar-top-links -->
<!-- START left sidebar stuff -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                  <center>
                  <p><h4>Your Info</h4></p>
                    <div class="image-circle"><img src="masonry/pages/images/GenericUser.png"></div>
                    <p></p>
                    <ul class="nav" id="side-menu">
                        <li>
                          {{#if user}}
                          <h4>{{user.username}}</h4>
                          {{/if}}
                        </li>
                        <li>
                            <i class="fa fa-graduation-cap fa-2x" style="color:#F97B35;"></i>
                            {{#if user}}
                            {{user.college}}
                            {{/if}}
                        </li>
                        <p>
                        <li>
                            <i class="fa fa-map-marker fa-2x" style="color:#F97B35"></i>
                            {{#if user}}
                            {{user.location}}
                            {{/if}}
                        </li>
                        </p>
                        <p>
                        <li>
                          {{#if user}}
                          {{user.level}}
                          {{/if}}
                        </li>
                      </p>
                    </ul>
                  </center>
                </div>
              </div>
            </nav>

<!-- END left sidebar -->
<!-- START page content -->

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                  {{#if user}}
                    <h4 class="page-header">Hi, {{user.username}}! Here is your dashboard.</h4>
                  {{/if}}
            </div>
            </div>
  <!---             {{#if post}}
         <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }'>
              <div class="grid">
                {{#each posts}}
                <div class="grid-item">
                  <div class="panel-heading">
                      <a href="{{theirusername}}">{{usernamep}}</a> posted:
                  </div>
                    {{#if photoUpload}}
                    {{photoUpload}}
                    {{/if}}
                    <p>
                    {{#if description}}
                    {{description}}
                    {{/if}}
                  </p>
                    <p>
                      <i class="fa fa-graduation-cap fa-lg" style="color:#F97B35;"></i> {{theirschool}}
                      <i class="fa fa-map-marker fa-lg" style="color:#F97B35"></i> {{theirlocation}}
                      <br>
                      {{theirschoollevel}}
                    </p>
                  </div>
                </div>
              </div>
              {{/each}}
              {{else}}
              {{/if}} --->
      <!---       <h4>No posts to display.</h4> --->
                <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }'>
                  <div class="grid-item">
                  <div class="panel-heading">
                      <a href="{{username}}">{{user.username}}</a> posted:
                  </div>
                    <img src="masonry/pages/images/cat2.jpg"> Look at him. Just look at him
                    <p>
                      <i class="fa fa-graduation-cap fa-lg" style="color:#F97B35;"></i> {{user.college}}
                      <i class="fa fa-map-marker fa-lg" style="color:#F97B35"></i> {{user.location}}
                      <br>
                      {{user.level}}
                      {{tag}}
                    </p>
                  </div>



              <div class="grid-item">
              <div class="panel-heading">
                  <a href="{{username}}">{{user.username}}</a> posted:
              </div>
                <img src="masonry/pages/images/cat.jpg"> Sleeping beauty
                <p>
                  <i class="fa fa-graduation-cap fa-lg" style="color:#F97B35;"></i> {{user.college}}
                  <i class="fa fa-map-marker fa-lg" style="color:#F97B35"></i> {{user.location}}
                  <br>
                  {{user.level}}
                  {{tag}}
                </p>
              </div>
            </div>
          </div>
          </div>


<!-- END page content -->

    <a href="javascript:;" id="scrollToTop" rel="nofollow" title="Go to Top"><img src="http://66.media.tumblr.com/tumblr_lw6754XlLF1r43b17.png" title="Go to Top"/></a>

</body>
